body {
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 200px;
}

a {
    text-decoration: none;
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid transparent;
}

a:focus {
    outline: none;
}

a:hover {
    background: #025ee6 linear-gradient(#5db7fe, #025ee6);
    box-shadow: 0 1px 0 #68ccff inset;
    border: 1px solid #2a649b;
    border-top-color: #2e6ca7;
    border-bottom-color: #245483;
    color: #fff;
    text-shadow: 0 1px 0 #1a487a;
    border-radius: 4px;
}

.folder {
    position: relative;
    color: #888;
}

.folder .caret {
    position: absolute;
    right: 10px;
}

.link {
    color: #333;
    font-weight: bold;
}

.alert {
    color: #8b0000;
}

.breadcrumbs {
    font-size: 14px;
    padding: 6px 15px;
    line-height: 20px;
    color: #333;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    overflow: hidden;
}